@import '../gallery/gallery';
@import '../intro/intro';
@import '../sentence/sentence';

html, body, #app, .appWrapper {
    background-color: #000000;
    color: #ffffff;
    height: 100%;
    margin: 0;
    width: 100%;
}

.hidden {
    display: none !important;
}