.gallery {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    .imageContainer {
        align-content: center;
        display: flex;
        height: 80%;
        justify-content: center;
        width: 100%;

        .image {
            height: 100%;
        }
    }

    .title {
        font-size: 42px;
        line-height: 42px;
        height: 20%;
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }
}