.intro {
    align-items: center;
    background-color: #000000;
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
    width: 100%;

    .sentence1, .sentence2, .sentence3, .sentence8 {
        font-size: 40px;
        line-height: 40px;
    }

    .sentence4 {
        font-size: 60px;
        line-height: 60px;
    }

    .sentence5, .sentence6, .sentence7 {
        font-size: 72px;
        line-height: 72px;
    }
}